

/*Fondo del body*/
body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
  margin:0;
  padding: 0;
  margin-top: 15px;

}
@media (min-width:900px){


}
/*Cabecera Inicial */
header{

background-color: #5b7989;
color: white;
text-shadow: 2px 2px #02010a;
border-radius: 10px 10px 0px 0px;
margin: 0 auto;
display: flex;

}

.contenido{
  width: 900px;
  margin: 0 auto;



}
.Titulo{
  margin-left: 20px;
  order: 1;


}
.Menu{
  order: 2;
  margin-left: inherit;
  margin-top: 30px;
  margin-right: 30px;
  }
  a {
    text-decoration: none;
    color:inherit;
  }
  .Submenu> a:hover{
    text-decoration:underline;
    color:blue;
  }
  /*Cabecera Final*/

  .ImgCentral{
    margin: 0 auto;
    background-color:#82c3a6;
    text-align: center;
    vertical-align: middle;


  }
  .ImgCentral img{
    width:70%;
    margin-top:15px;
    margin-bottom: 15px;


  }

/* Cuerpo donde se encuentran las imagenes*/
  figure{
  	  font-family: DancingScript-Regular;
  	  src: url(../fuentes/DancingScript-Regular.ttf);
  	  text-align: center;
  	  text-color:black;
  	  width: 90%;
  	  height: 100%;
      font-family: 'Dancing Script', cursive;

  }
  .ImgSecundaria {
    background-color:  #d5c75f ;
    margin: 0 auto;
    display: flex;


  }
  .ImgSecundaria div{
    width: 50%;
    margin-bottom: 15px;

}
  .ClaFiguras{
	  width: 80%;
	  height: 80%;
	  margin: 0 auto;

}

/*Decoracion de imagenes*/
.ImgCentral img {
  border: 1px ;
  box-shadow: 2px 4px;
}
.ImgSecundaria img {
  border: 1px ;
  box-shadow: 2px 4px;
}
#Paisajes img:hover{
  transform: rotateZ(10deg);
  box-shadow: 2px 2px 5px #82c3a6;
  border-right:2px solid black;
  border-bottom:1px solid black;

}
#Retrato img:hover{
  transform: translate(20px,-5px);
   box-shadow: 2px 2px 5px #82c3a6;
   border-right:2px solid black;
   border-bottom:2px solid black;
}

footer {
text-align: left;
text-color:black;
margin:0 auto;
width: 100%;

}

.PiedePagina {
  background-color: #C6d5c5;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  display: flex;


}
.redes_sociales img {
  width: 20px;
  height:20px;
  border:1;
  box-shadow: auto;
}

.Contatos {
    margin: 0 auto;
}
.Terminos{
  margin: 0 auto;

}
.Redes{
  margin: 0 auto;

}
.Derechos{
  margin: 0 auto;

}
.galeria { background-color:  #d5c75f ;}
.galeria div img{
  margin-top: 12px;
  margin-bottom: 12px;
  width: 250px;
  height: 250px;
  border: 1px;
  box-shadow: 2px 4px;
  align-content: center;
}




.galeria_1{ display: flex; flex-direction: row; justify-content: space-around;}

.Retrato_1 img{ filter: blur(10px);}
.Retrato_2 img{  filter: grayscale(100%);}
.Retrato_3 img{  filter: sepia(90%);}

.Paisajes_1 img{  filter: blur(10px);}
.Paisajes_2 img{  filter: grayscale(100%);}
.Paisajes_3 img{  filter: sepia(90%);}

.galeria_2{ display: flex; flex-direction: row; justify-content: space-around;}

.Retrato_4 img{filter: grayscale(100%);}
.Retrato_5 img{}
.Retrato_6 img{filter:grayscale(100%);}

.Paisajes_4 img{filter: grayscale(100%);}
.Paisajes_5 img{}
.Paisajes_6 img{filter:grayscale(100%);}
